.jobs-container {
  background-color: black;
}
.input-container {
  /* border: 2px solid red; */
  display: flex;
  justify-content: start;
  margin-left: 70px;
  position: relative;
  border: none;
}

.input-container > input {
 color: white;
 font-size: 18px;
 border: 2px solid #272727;
 outline: none;
 font-weight: 600;
 padding-left: 15px;
 color: #ffffff;
 background-color: transparent;
 border-radius: 5px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 -ms-border-radius: 5px;
 -o-border-radius: 5px;
}

.input-container > span {
  width: 49.8px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 50.1%;
  top: 2.3%;
  background-color: #272727;
  color: white;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}

.jobs-section {
  width: 100%;
  min-height: 100%;
  /* background-color: black; */
  display: flex;
  justify-content: center;
}

.filter-section {
  width: 25%;
  height: 100vh;
  /* border: 1px solid white; */
}

.all-jobs-section {
  width: 70%;
  /* height: 100vh; */
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}


@media screen and (max-width: 425px) {
  *{
    overflow-x: hidden;
  }
  .jobs-container {
    background-color:black;
    width: 100vw;
    height: 100vh;
  }

  .jobs-section{
    display: flex;
    flex-direction: column;
  }

  .all-jobs-section{
    display: flex;
    align-items: center;
    flex-direction: column;
  }


  .jobs-section .input-search{
    /* width: 20%; */
    margin-left: 15px;
    width: 90% !important;
    /* border: 2px solid green; */
  }
  .jobs-section .search-icon{
    display: flex;
    position: absolute;
    right: 6%;
    top: 0;
    /* border: 2px solid red; */
    height: 100%;
  }
  .input-container {
    margin-left: 30px;
  }
  .input-container > span {
    width: 40px;
    height: 30px;
    right: 50%;
    top: 2%;
  }
  
  .filter-section {
    width: 100%;
    height: auto;
  }
  .all-jobs-section {
    width: 100%;
    padding: 10px;
    background-color: black;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  *{
    overflow-x: hidden;
  }
  .jobs-container {
    background-color:black;
    width: 100vw;
    height: 100vh;
  }

  .jobs-section{
    display: flex;
    flex-direction: column;
  }

  .all-jobs-section{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .jobs-section .input-search{
    /* width: 20%; */
    margin-left: 15px;
    width: 90% !important;
    /* border: 2px solid green; */
  }
  .jobs-section .search-icon{
    display: flex;
    position: absolute;
    right: 4%;
    top: 0;
    /* border: 2px solid red; */
    height: 100%;
  }
  .input-container {
    margin-left: 30px;
  }
  .input-container > span {
    width: 40px;
    height: 30px;
    right: 50%;
    top: 2%;
  }
  
  .filter-section {
    width: 100%;
    height: auto;
  }
  .all-jobs-section {
    width: 100%;
    padding: 10px;
    background-color: black;
  }
}